@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h2 {
  align-self: flex-start;
}

.cardClicked {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#forecast {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
#forecast .card {
  border: 1px solid rgba(0, 0, 0, 0.225);
  background-color: white;
  border-radius: 30px;
  text-align: center;
  height: 450px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.3s;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 15px;
}
#forecast .card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
#forecast .card .card-content {
  padding: 10px;
  font-size: 1.3rem;
}
#forecast .card .card-content .tempIcon {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}
#forecast .card .card-content .tempIcon img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}
#forecast .card .card-content .tempIcon p {
  font-family: "Lora", serif;
  font-size: 2.3rem;
}
#forecast .card .card-content .minMaxTemp {
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#forecast .card .card-content .cloudWind {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#hourlyForecast {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
}
#hourlyForecast .section {
  border: 1px solid rgba(0, 0, 0, 0.225);
  border-radius: 30px;
  background-color: white;
  margin-right: 20px;
  height: 150px;
  width: 150px;
}
#hourlyForecast .section .section-content .details1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -20px;
  margin-left: 20px;
}
#hourlyForecast .section .section-content .details1 p {
  display: flex;
  flex-direction: row;
}

#weather {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: auto;
}
#weather .frame {
  border: 1px solid rgba(0, 0, 0, 0.225);
  width: 1400px;
  height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#weather .frame .alignment {
  display: flex;
  flex-direction: row;
}
#weather .frame .alignment .currentTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#weather .frame .alignment .currentTitle h2 {
  font-size: 1.5rem;
}
#weather .frame .alignment i {
  margin-top: 22px;
  margin-left: 15px;
}
#weather .frame h3 {
  font-size: 1.5rem;
}
#weather .frame .ThourMain {
  grid-column-start: 8;
  grid-row-start: 6;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.225);
  border-radius: 30px;
  height: 250px;
  width: 700px;
}
#weather .frame .ThourMain .mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
}
#weather .frame .ThourMain .mainContent .dateIcon {
  text-align: center;
  margin-left: 20px;
}
#weather .frame .ThourMain .mainContent .dateIcon img {
  max-width: 120px;
}
#weather .frame .ThourMain .mainContent .temp {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
#weather .frame .ThourMain .mainContent .temp h2 {
  text-align: center;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
header select {
  outline: 1px solid grey;
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 10px;
}
header form {
  display: flex;
  flex-direction: row;
  padding: 1px;
}
header form input {
  outline: 1px solid grey;
  border: none;
  height: 40px;
  width: 200px;
  border-radius: 10px;
}
header form input:focus {
  outline: none;
}
header form input:focus-within {
  outline: 1px solid gray;
}
header form button {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  background: black;
  color: white;
}

@media (max-width: 375px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
  }
  header select {
    outline: 1px solid grey;
    border: none;
    height: 40px;
    width: 40%;
    border-radius: 10px;
  }
  header form {
    display: flex;
    flex-direction: row;
    padding: 1px;
  }
  header form input {
    outline: 1px solid grey;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 10px;
  }
  header form input:focus {
    outline: none;
  }
  header form input:focus-within {
    outline: 1px solid gray;
  }
  header form button {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    background: black;
    color: white;
  }
  #forecast {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 375px;
    margin: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  #forecast .card {
    border: 1px solid rgba(0, 0, 0, 0.225);
    border-radius: 30px;
    text-align: center;
    height: 450px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  #forecast .card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  #forecast .card .card-content {
    padding: 10px;
    font-size: 1.3rem;
  }
  #forecast .card .card-content .tempIcon {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
  }
  #forecast .card .card-content .tempIcon img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }
  #forecast .card .card-content .tempIcon p {
    font-family: "Lora", serif;
    font-size: 2.3rem;
  }
  #forecast .card .card-content .minMaxTemp {
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #forecast .card .card-content .cloudWind {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #hourlyForecast {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  #hourlyForecast .section {
    border: 1px solid rgba(0, 0, 0, 0.225);
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 60px;
    width: 370px;
  }
  #hourlyForecast .section .section-content {
    display: flex;
    flex-direction: column;
  }
  #hourlyForecast .section .section-content .details1 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #weather {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: auto;
  }
  #weather .frame {
    border: 1px solid rgba(0, 0, 0, 0.225);
    width: 360px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #weather .frame .alignment {
    display: flex;
    flex-direction: row;
  }
  #weather .frame .alignment .currentTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #weather .frame .alignment .currentTitle h2 {
    font-size: 1.5rem;
  }
  #weather .frame .alignment i {
    margin-top: 22px;
    margin-left: 15px;
  }
  #weather .frame h3 {
    font-size: 1.5rem;
  }
  #weather .frame .ThourMain {
    grid-column-start: 8;
    grid-row-start: 6;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.225);
    border-radius: 30px;
    height: 250px;
    width: 340px;
  }
  #weather .frame .ThourMain .mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  #weather .frame .ThourMain .mainContent .dateIcon {
    text-align: center;
    margin-left: 20px;
  }
  #weather .frame .ThourMain .mainContent .dateIcon img {
    max-width: 100px;
  }
  #weather .frame .ThourMain .mainContent .dateIcon h2 {
    font-size: 1.5rem;
  }
  #weather .frame .ThourMain .mainContent .temp {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
  #weather .frame .ThourMain .mainContent .temp h2 {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */